@import url('https://fonts.googleapis.com/css2?family=Gupter:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sirin+Stencil&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sedan+SC&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.logo {
    height: 35px;
    width: 120px;
}

section {
    z-index: 0;
}
a{
    color: black;
    text-decoration: none;
}

.mobileheader {
    padding-top: 50px;
}

ul,
.loginparent,
.loginfirsthead,
.loginthridhead,
.logincontnet,
.loginicon,
.fullbuttontext {
    display: flex;
    align-items: center;
    list-style-type: none;
}

table.firstfooter {
    width: 100%;
}

li {
    margin: 3px;
}

.logincontnet,
.loginicon,
.fullbuttontext {
    justify-content: center;
}

/* section.singlesection.mobileheader {
    padding-top: 80px;
} */

footer {
    top: 30px;
    position: relative;
    width: 100%;
    z-index: 1;
    background-color: white;
}

.footerparent {
    /* margin-top: 1px solid rgb(207, 207, 207); */
    margin: auto;
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer.loginfooterparent.mobile {
    border-top: 1px solid #e1e1e1;
    width: 100%;
    position: fixed;
    top: 92vh;
    padding: 20px;
}

.footericon {
    color: gray;
    font-size: 30px;
}

.logincontainer {
    margin: 15px;
    /* width: 600px;
    margin: auto; */
    /* border-radius: 15px; */
    /* border: 1px solid #535353; */
}

.logincontainer p {
    font-size: 30px;
    padding-bottom: 4px;
    margin: 10px;
}

header.loginheader {
    width: 100%;
    margin: auto;
    border-bottom: 1px solid #d8d8d8;
    padding: 15px;
    position: fixed;
    z-index: 1;
    background-color: white;
}

.deskandtab {
    display: flex;
    justify-content: space-between;
}

.mobileviewhead {
    padding: 10px;
    display: none;
}

.mobileviewhead h4 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logincard,
.loginsecondfooter {
    display: flex;
    justify-content: space-between;
}

input::placeholder {
    padding-left: 10px;
    /* or padding as needed */
    color: #888;
    /* optional styling */
}

select {
    padding-left: 10px;
    /* applies padding to whole select */
    color: #888;
    /* default placeholder color */
}

.orline::before,
.orline::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid #aaa;
    /* line color */
    margin: 0 10px;
    /* space between line and text */
}

.orline {
    display: flex;
    align-items: center;
    text-align: center;
    color: #333;
    /* optional */
}

.fullgooglebutton {
    border: 1px solid;
    display: flex;
    padding: 25px;
    border-radius: 10px;
    margin: 10px;
}

.fullgooglebutton i {
    width: 20%;
    font-size: 20px;
}

.fullgooglebutton .fullbuttontext {
    width: 80%;
}

.loginbody {
    padding: 15px;
}

h3.logincontainerhead {
    font-size: 30px;
}

.logincontnet {
    width: 80%;
}

.loginicon {
    width: 20%;
}

select,
input {
    width: 100%;
    height: 50px;
    margin: 0px;
    padding: 0px;

}

select {
    border-radius: 10px 10px 0px 0px;
    border-top: 1px solid #bdbdbd;
    border-right: 1px solid #bdbdbd;
    border-left: 1px solid #bdbdbd;
    border-bottom: none;
}

input {
    border-radius: 0px 0px 10px 10px;
    border: 1px solid #bdbdbd;
}

.logincard {
    margin: 10px;
    border-radius: 10px;
    border: 1px solid #4b4b4b;
}

p.content {
    font-size: 15px;
}

button {
    width: 100%;
    height: 45px;
    border-radius: 10px;
    background-color: #E00B41;
    color: white;
    border: 1px solid #E00B41;
    margin: 5px;
}

body {
    font-family: "Fira Sans", sans-serif;
}

th {
    text-align: left;
}

th,
td,
tr {
    padding: 10px;
}

.loginfirstfooter {
    width: 85%;
    margin: auto;
}

.loginsecondfooter {
    margin: 10px;
    padding: 30px;
}

.mobile {
    display: none;
}

li.glob,
li.menu {
    background-color: rgb(208, 207, 207);
    border-radius: 50%;
    padding: 7px;
}

.fourbuttonparent {
    padding-top: 20px;
}



@media (min-width:745px) {

    .container.mobileview {
        border-radius: 10px;
        border: 3px solid #dcdbdb;
        width: 45%;
        padding: 30px;
        margin: auto;
    }

    section.singlesection.mobileheader {
        padding-top: 100px !important;
    }

}

@media (max-width:746px) {
    .mobile {
        display: block;
    }

    section.singlesection.mobileheader {
        padding-top: 80px;
        padding-bottom: 70px;
        border-bottom: 1px solid rgb(231, 229, 229);
    }

    .container.mobileview {
        width: 100%;
        padding: 30px;
    }

    .desktop {
        display: none;
    }
}

@media (max-width:1125px) {
    .host {
        display: none;
    }
}