@import url('https://fonts.googleapis.com/css2?family=Gupter:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sirin+Stencil&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sedan+SC&display=swap');

* {

    font-family: "Fira Sans", sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

a {
    /* text-decoration: none; */
    color: black;
}

img.singleimage.imgone {
    border-radius: 15px 0px 0px 15px;
}

img.singleimage.imgthree {
    border-radius: 0px 15px 0px 0px;
}

img.singleimage.imgfive {
    border-radius: 0px 0px 15px 0px;
}

.firstbox,
.cardsection,
.firstcardsection,
.review {
    display: flex;
    justify-content: space-between;
}

.firstbox div,
.secondbox div {
    padding: 3px;
}

.profileimagesection,
.profilecontent,
.userimg,
.username,
.logincontnet,
.loginicon,
.firstbox div,
.stickeygridbox div {
    display: flex;
    justify-content: center;
    align-items: center;
}


.profileimagesection {
    width: 20%;
}

.profilecontent {
    width: 80%;
}

.leftpart {
    width: 60%;
}

.rightpart {
    width: 40%;
}

.reviewuser {
    margin: 20px;
    height: 30px
}

.profileimg {
    align-items: center;
    border-radius: 50%;
}

.cardsection {
    margin-top: 10px;
    gap: 15px;
    border: 1px solid gray;
    border-radius: 15px;
    padding: 10px;
    /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
}
 
      
.username .tdcontent, .offertext{
padding:8px;
}


/* header */
 ul li.share,ul li.heart,
.singlepagefirsthead,
.animmenubar,
.animehead {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.singlepagefirsthead {
    height: 55%;
    padding: 20px;
}



header {
    width: 100%;
    background-color: #f8fdff;
    position: fixed;
    top: 0px;
    z-index: 10;
}

h2.firsthead {
    color: #E00B41;
    margin: 10px;
    font-family: "Sirin Stencil", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 45px;
}

.image {
    width: 180px;
    height: 180px;
    border-radius: 20px;

}

.guest_favorite {
    background-color: #f0f0f0;
    border-radius: 20px;
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    font-size: 12px;
    font-style: normal;
    padding: 6px;
}


.headingpart {
    display: flex;
    justify-content: space-between;
    margin: 6px 0px;
}



section {
    width: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
}

.rowmaincontainer {
    display: flex;
    flex-direction: column;
    height: 280px;

}

.cards_parent {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 15px;
}

.single_card {
    height: 100%;
    width: 100%;

}

.imageparent {
    position: relative;
}

.abovetheimage {
    top: 8px;
    left: 8px;
    position: absolute;
    display: flex;
}

.firstcontent,
.pricesection {
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    font-style: normal;
}

h3 {
    font-family: "Fira Sans", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    font-style: normal;
    padding: 13px 2px;
}

.pricesection {
    color: gray;
}

.cardheart {
    position: absolute;
    -webkit-text-stroke: 1px white;
    font-size: 20px;
    opacity: .7;
    top: 3px;
    left: 135px
}

i.leftright {
    font-size: 21px;
    color: rgb(212, 212, 212);
}

.fa-star {
    font-size: 10px;
}

.fa-greater-than {
    font-size: 12px;
}

.bluetext {
    color: blue;
}

.policy,
.profileimg,
.profile {
    display: flex;
    justify-content: center;
}

.alllists,
.sectionhead,
.singleleft {
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
}

.singleleft {
    width: 150px;
}

.offercontent {
    margin: 10px;
}


.infobutton {
    background-color: gray;
    border: gray;
    padding: 15px 24px;

}


p {
    font-family: "Lunasima", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 25px;
    font-size: 15px;
    margin: 20px 0px;
}

sup {
    font-size: 7px;
}

.firsthead,
ul,
.third {
    display: flex;
}

ul {
    list-style-type: none;
}


.firsthead {
    height: 60%;
    justify-content: space-between;
    padding: 20px;
}

.secondhead {
    width: 100%;
    height: 50%;
}

.mainbar {
    width: 60%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 30px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    height: 65px;
    padding: 15px 25px;
}

.threedimage {
    width: 60px;
    height: 100%;
    transition: transform 0.4s ease-in-out;
}

.threedimage {

    animation: rotateimage 4s ease-in-out forwards;
}

.threedimage:hover {
    transform: scale(1.2) rotateY(10deg);
    /* expand */
}


li {
    margin: 10px;
}

.logo {
    height: 40px;
    width: 120px;
}

.threedimagetext {
    font-family: "Sedan SC", serif;
    font-weight: 600;
    font-style: normal;
}

.experieneimage {
    width: 50px;
}

.headmainbar {
    text-align: center;
    white-space: normal;
}

.headmainbar .firstlinetitle,
.headmainbar .secondlinetitle {
    display: inline-block;
}

.headmainbar .firstlinetitle {
    font-weight: bold;
    color: black;
}

.headmainbar .secondlinetitle {
    color: gray;
}

.search.headmainbar {
    width: 120px;
}

.animmenubar {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 30px;
    width: 500px;
    padding: 5px 25px;
}

.offericon,.offertext,
.animetwo,
.animeone,
.searchparent {
    display: flex;
    justify-content: center;
    align-items: center;
}

.anyguest {
    width: 120px;
}

.divider {
    width: 1px;
    height: 35px;
    background-color: gray;
    opacity: 0.5;
}

.gridparent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 200px);
    gap: 7px
}

.singlesection {
    top: 100px;
}

.singlesection,
.indexsection {
    margin-top: 130px;
}

.indexsection {
    top: 220px;
}

/* indexsection */

.singlecontainer {
    width: 80%;
    margin: auto;
}

.singleimage {
    width: 100%;
    height: 100%;
}

.gridbox {
    border-radius: 20px;
}

.gridbox.one {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

.smallleafimg {
    width: 40px;
}

button.search {
    /* display: flex; */
    background-color: #E00B41;
    border-radius: 50%;
    padding: 6px;
    border: 1px #E00B41;
}

button.search i.fa-solid.fa-magnifying-glass {
    color: white;
}

.reviewuser {
    display: flex;
}

.profileimg {
    width: 50px;
    height: 50px;
}

ul li div {
    perspective: 800px;
}

.thirdsectionhead {
    display: flex;
}

table {
    width: 100%;
}

p.tdcontent span {
    color: gray;
}

.profilesection,
.offercontent {
    display: flex;
}

.boxoffer {
    grid-template-rows: repeat(5, 1fr);
}

.reviewcontainer {
    grid-template-rows: repeat(3, 1fr);
}

.boxoffer,
.reviewcontainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.googlemapimg {
    width: 100%;
    height: 350px;
}

.logincontainer {
    width: 600px;
    margin: auto;
    border-radius: 15px;
    border: 1px solid #535353;
}


.loginbody , .centerimagecard {
    padding: 15px;
}

h3.logincontainerhead {
    font-size: 30px;

}

.logincontnet {
    width: 80%;
}

.loginicon {
    width: 20%;
}

.orline {
    display: flex;
    align-items: center;
    text-align: center;
    color: #555;
    font-weight: bold;
}

.orline::before,
.orline::after {
    content: "";
    flex: 1;
    border-top: 1px solid #ccc;
}

.orline::before {
    margin-right: 10px;
}

.orline::after {
    margin-left: 10px;
}

.inputparent {
    margin: 10px;
}

select,
input {
    width: 100%;
    height: 44px;
    margin: 0px;
    padding: 0px;
}

input::placeholder {
    margin: 15px 0px 0px 0px;
}

select {
    border-radius: 10px 10px 0px 0px;
}

input {
    border-radius: 0px 0px 10px 10px;
}

.logincard {
    margin: 10px;
    border-radius: 10px;
    border: 1px solid #4b4b4b;
}

button {
    /* width: 100%;
    height: 45px; */
    border-radius: 10px;
    background-color: #E00B41;
    color: white;
    border: 1px solid #E00B41;
    margin: 5px;
}

img:hover {
    opacity: 0.7;
    /* only hovered image changes */
}

.glob,
.menu {
    background-color: rgb(231, 231, 231);
    border-radius: 50%;
    padding: 8px;

}



/* Footer */
.headings,
.headerpart {
    display: flex;
}

.headerpart {
    flex-direction: column;
}

.headings {
    flex-direction: row;
}

.firsttablegrid,
.secondtablegrid {
    display: grid;
}

.datadisc {
    color: gray;
}

.secondtablehead {
    font-weight: 800;
}

.headings,
.secondtablegrid div,
.firsttablegrid div {
    padding: 0px 7px;
}

.firstsection h3,
.headings {
    margin: 10px 0px;
    font-weight: 600;
}

.headerpart {
    margin: 10px;
}

.first-single div,
.second-single div,
.third-single div {
    line-height: 30px;
}

footer {
    font-family: "Fira Sans", sans-serif;
    background-color: #f4f3f3;
}

.firstpart {
    display: flex;
}

.searchinput::placeholder {
    color: #999;
    text-align: center;
}

.search.headmainbar {
    width: 120px;
}

input.searchinput {
    height: 45px;
    width: 90%;
    margin: auto;
    border-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    /* centers placeholder text */
    border-radius: 40px;
}

div.second ul {
    width: 100%;
    justify-content: space-around;
}

.desktop {
    display: block !important;
}

.mobilesection {
    display: none !important;
}

.smallgray {
    color: gray;
}

footer {
    top: 150px;
    bottom:5px;
    position: relative;
    width: 100%;
    z-index: -1;
    background-color: #f1f8fb;
}

img.singlemobileimage {
    width: 100%;
    height: 400px;
}

.bottomicon i {
    padding-top: 25px;
    font-size: 35px;
}

.thingstoknow {
    padding: 10px;
}

.knowinfocontainer,
.largedividercontent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 1fr;
    gap: 5px;
}

.knowinfocontainer {
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
}

.single_knowinfocontainer {
    line-height: 30px;
}

.largedividercontent {
    grid-template-columns: repeat(14, 1fr);
    gap: 2px;
}

.bardivider {
    margin: 20px;
    width: 1px;
    height: 125px;
    background-color: gray;
    opacity: 0.5;
}

img.leafimg {
    width: 110px;

}
.content.username,
.profile.userimg,
.centerimagecard,
.price,
.singleright,
.singleleft,
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bigtext {
    font-size: 30px;
}

.center {
    color: gray;
}

.price {
    font-size: 110px;
}

.card {
    width: 100%;
    position: sticky;
    top: 100px;

}

.shadow {
    margin: 20px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    padding: 15px;
    border-radius: 20px;
}

.stickeygridbox div {
    border: 1px solid #b7b6b6;
    padding: 4px;
}

.stickeygridbox {
    padding: 12px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr;
}


.stickeygridbox .stthree {
    grid-column: 1/3;
}



.stone {
    border-radius: 8px 0px 0px 0px;
}

.sttwo {
    border-radius: 0px 8px 0px 0px;
}

.stthree {
    border-radius: 0px 0px 8px 8px;
}

.content.username {
    padding: 15px;
}

.center {
    text-align: center;
}

.profile.userimg{
    width: 10%;
}

.shadow button {
    margin: 5px;
    background-color: #E00B41;
    color: white;
    padding: 15px;
    border-radius: 30px;
    width: 100%;
}

.shadow button a {
    color: white;
    text-decoration: none;
}



@media (max-width:746px) {

    .singlesection,
    .indexsection {
        margin-top: 0px;
    }

    .knowinfocontainer {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        gap: 5px;
    }

    .firsttablegrid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        gap: 5px;
    }

    .secondtablegrid {
        grid-template-columns: repeat(1, 1fr);
        gap: 15px;
    }

    .footersection,
    .container {
        width: 100%;
        margin: auto;
    }

    .mobile,
    .rightpart {
        display: none !important;
    }

    .footerpolicy {
        display: block;
    }

    .desktop {
        display: none !important;
    }

    header {
        display: none !important;
    }

    .mobilesection {
        display: block !important;
    }

    .singlecontainer {
        width: 90%;
        margin: auto;
    }

    .singlesection {
        top: 0px;
    }

    .leftpart {
        width: 100%;
    }

    .mainsecioncontainer {
        display: block;
    }
}

@media (min-width:747px) {
    .firsttablegrid {
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 15px;
    }

    .mobile {
        display: block !important;
    }

    .secondtablegrid {
        grid-template-columns: repeat(3, 1fr);
        gap: 15px;
    }


    .footerpolicy {
        display: flex;
        justify-content: space-between;
    }

    .footersection,
    .container {
        width: 90%;
        margin: auto;
    }


    .mainsecioncontainer {
        display: flex;
        justify-content: space-between;
    }

}



@media (max-width:1125px) {
    .mobileview {
        display: none;
    }

    .gridparent {
        display: grid;
        grid-template-rows: repeat(2, 150px);
        gap: 4px
    }

    .reviewcontainer {
        grid-template-rows: repeat(6, 1fr);
        display: grid;
        grid-template-columns: 1fr;
    }


    .firsttablegrid {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
        gap: 10px;
    }

    .secondtablegrid {
        grid-template-columns: repeat(3, 1fr);
        gap: 15px;
    }

    .footerpolicy {
        display: flex;
        justify-content: space-between;
    }

    .mobile {
        display: block !important;
    }

    .footersection,
    .container {
        width: 80%;
        margin: auto;
    }
 
    .mainsecioncontainer {
        display: flex;
        justify-content: space-between;
    }
}