@import url('https://fonts.googleapis.com/css2?family=Gupter:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sirin+Stencil&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sedan+SC&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/* header */
header {
    position: fixed;
    width: 100%;
    padding: 10px;
    height: 15vh;
    background: radial-gradient(circle, rgb(236, 236, 236) 0%, rgba(202, 204, 204, 0) 100%);
    background-color: white;
}


h2.firsthead {
    color: red;
    /* margin: 10px; */
    font-family: "Sirin Stencil", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 45px;
}

.fist,
.threedimage,
.threedimagetext,
div ul {
    display: flex;
    justify-content: center;
    align-items: center;
}


.firsthead,
li div {
    /* height: 60%; */
    justify-content: space-between;
    /* padding: 20px; */
}

.threedimage {
    width: 80px;
    height: 100%;
    transition: transform 0.4s ease-in-out;
}

.threedimage {

    animation: rotateimage 4s ease-in-out forwards;
}

.threedimage:hover {
    transform: scale(1.2) rotateY(10deg);
}

.threedimagetext {
    font-family: "Sedan SC", serif;
    font-weight: 600;
    font-style: normal;
}


.policy,
.profileimg,
.profile {
    display: flex;
    justify-content: center;
}

.sectionhead,
.singleleft,
.searchbar {
    display: flex;
    justify-content: space-between;

}

.sectionhead,
.singleleft {
    padding: 10px 0px;
}

.glob,
.menu {
    background-color: rgb(231, 231, 231);
    border-radius: 50%;
    padding: 5px;
}

.firsthead,
ul,
li div,
.third {
    display: flex;
}


li {
    margin: 10px;
}

ul {
    list-style-type: none;
}

ul li div {
    perspective: 800px;
}

.logo {
    height: 35px;
    width: 110px;
}
 
.mainbar {
    width: 60%;
    box-shadow: rgba(56, 56, 57, 0.2) 0px 7px 29px 0px;
    border-radius: 30px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    height: 65px;
    padding: 15px 25px;
    background-color: rgb(249, 249, 249);
}
 
@media (max-width:746px) {
    .firsttablegrid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        gap: 5px;
    }

    .secondtablegrid {
        grid-template-columns: repeat(1, 1fr);
        gap: 15px;
    }

    .footersection,
    .container {
        width: 100%;
        margin: auto;
    }

    .mobile {
        display: none !important;
    }

    .footerpolicy {
        display: block;
    }

    .desksection {
        display: none !important;
    }

    .mobilesection {
        display: block !important;
    }
}

@media (min-width:747px) {
    .firsttablegrid {
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 15px;
    }

    .mobile {
        display: block !important;
    }

    .secondtablegrid {
        grid-template-columns: repeat(3, 1fr);
        gap: 15px;
    }


    .footerpolicy {
        display: flex;
        justify-content: space-between;
    }

    .footersection,
    .container {
        width: 90%;
        margin: auto;
    }

}



@media (max-width:1125px) {
    .mobileview {
        display: none;
    }

    .firsttablegrid {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
        gap: 10px;
    }

    .secondtablegrid {
        grid-template-columns: repeat(3, 1fr);
        gap: 15px;
    }

    .footerpolicy {
        display: flex;
        justify-content: space-between;
    }

    .mobile {
        display: block !important;
    }

    .footersection,
    .container {
        width: 80%;
        margin: auto;
    }
}

@media (min-width:745px) {
    .headings {
        width: 70%;
        gap: 10px;
        justify-content: space-between;
    }
}

@media (min-width:845px) {

    .headings {
        width: 60%;
        justify-content: space-between;
    }
}

@media (min-width:1000px) {

    .headings {
        width: 50%;
        justify-content: space-between;
    }
}

@media (min-width:1200px) {

    .headings {
        width: 40%;
        justify-content: space-between;
    }
}


